DATABASE_URL="postgresql://postgres:postgres@localhost:5432/settlex"
SOLANA_RPC_URL=""
NEXT_PUBLIC_SOLANA_RPC_URL=""
NEXT_PUBLIC_SOLANA_NETWORK="mainnet-beta"
JUPITER_API_KEY=""
# Run `openssl rand -base64 32` to generate this value
AUTH_SECRET=""
NEXT_PUBLIC_SITE_URL=""